<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <h1>このサイトはプログラミングを頑張る人を応援するWebアプリケーションです</h1>
        <p>とことんシンプルさにこだわりました</p>
        <P>自分の目標を記録することができます</P>
        <P>仲間の目標を見て、コメントしたり、応援したりすることができます</P>
        <P>同じくらいの進捗で同じ悩みを持つ仲間と目標に向かってがんばりませんか？</P>
        <a href="#" class="site-expalanation-button">仲間の目標を見てみる</a>
    </main>
    <aside>right</aside>
</div>