<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <h1>目標が投稿できました</h1>
        <h2>共に目標に向かって頑張ろう！<h2>
        <a href="index" class="return-index">目標一覧にもどる</a>
        </div>
    </main>
    <aside>right</aside>
</div>