<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <h1>目標を削除しました</h1>
        <h2>新たな目標を立てて、また一緒に頑張ろう！<h2>
        <a href="/users/<%= current_user.id %>" class="return-index">目標一覧にもどる</a>
        </div>
    </main>
    <aside>right</aside>
</div>