<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <% @goals.each do |goal| %>
        <div class="individual-goal">
            <h3>個人の目標</h3>
          <p class="important"><%= goal.goal %></p>
          <p><%= goal.reason %></p>
          <p><%= goal.future %></p>
        </div>
        <% end %>
        <% if user_signed_in? %>
          <a href="/goals/new" class="post-button">目標を投稿する</a>
        <% else %>
          <a href="/users/sign_up" class="post-button">さあ私たちと一緒にはじめよう</a>
        <% end %>
        
        </div>
    </main>
    <aside>right</aside>
</div>