<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <h3>目標の投稿</h3>
  
    <!--パスにはcreateアクションへのパスを設定する-->
    <%= form_tag('/blogs', method: :post) do %>
      <h4>目標</h4>
      <textarea type="text" name="goal" placeholder="ここに入力してください" row="5" cols="50"></textarea>
      <h4>なぜその目標を達成したいか</h4>
      <textarea type="text" name="reason" placeholder="ここに入力してください" row="5" cols="50"></textarea>
      <h4>目標を達成したあとどんな状態になっていたいか</h4>
      <textarea type="text" name="reason" placeholder="ここに入力してください" row="5" cols="50"></textarea>
      <input type="submit" value="SEND" class="submit-button">

    <% end %>
        </div>
    </main>
    <aside>right</aside>
</div>