<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <h1>同じ目標に向かって頑張る</h1>
        <p>プログラミングで頑張っている人を応援するサービスです</p>
        <a href="pages" class="site-expalanation-button">サイト説明</a>
        </div>
    </main>
    <aside>right</aside>
</div>



<!--基本レイアウト-->
<!--<div class="contents">-->
    <!--<nav>left</nav>-->
<!--    <main>center</main>-->
<!--    <aside>right</aside>-->
<!--</div>-->
