<div class="contents">
    <nav>left</nav>
    <main>center</main>
    <aside>right</aside>
</div>



<!--基本レイアウト-->
<!--<div class="contents">-->
    <!--<nav>left</nav>-->
<!--    <main>center</main>-->
<!--    <aside>right</aside>-->
<!--</div>-->
