<div class="contents">
    <nav>left</nav>
    <main>
        <div class="main-box">
        <h1>目標の更新が完了しました！</h1>
        <h2>また、共に目標に向かって頑張ろう！<h2>
        <a href="/users/<%= current_user.id %>" class="return-index">目標一覧にもどる</a>
        </div>
    </main>
    <aside>right</aside>
</div>